@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.EasyMDEContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.EasyMDEContainer .CodeMirror {
  box-sizing: border-box;
  height: auto;
  border: 1px solid #ced4da;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  font: inherit;
  z-index: 0;
  word-wrap: break-word;
  flex: 1;
}

div.EasyMDEContainer .editor-preview img {
  display: block;
  margin: 12px auto;
  max-width: 825px;
}

.editor-preview-full.editor-preview.editor-preview-active ul {
  list-style-type: disc;
  padding-left: 40px;
}

.editor-preview-full.editor-preview.editor-preview-active ol {
  list-style-type: decimal;
  padding-left: 40px;
}

.editor-preview-full.editor-preview.editor-preview-active blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  unicode-bidi: isolate;
}

.dropdown-search strong {
  color: #0284c7;
}

code.hljs {
  font-size: 15px;
  position: relative;
  background-color: #f1f2f3;
}

.editor-preview-active h1,
.editor-preview-side h1,
.md-contents h1 {
  font-size: 1.95em;
}

.editor-preview-active h1,
.editor-preview-active h2,
.editor-preview-active h3,
.editor-preview-side h1,
.editor-preview-side h2,
.editor-preview-side h3,
.md-contents h1,
.md-contents h2,
.md-contents h3 {
  margin: 1.5em 0 0.2em;
}

.editor-preview-active h1,
.editor-preview-active h2,
.editor-preview-active h3,
.editor-preview-active h4,
.editor-preview-active h5,
.editor-preview-side h1,
.editor-preview-side h2,
.editor-preview-side h3,
.editor-preview-side h4,
.editor-preview-side h5,
.md-contents h1,
.md-contents h2,
.md-contents h3,
.md-contents h4,
.md-contents h5 {
  font-weight: 700;
  color: #000;
}

.editor-preview-active h2,
.editor-preview-side h2,
.md-contents h2 {
  font-size: 1.75em;
}

.editor-preview-active h3,
.editor-preview-side h3,
.md-contents h3 {
  font-size: 1.45em;
}

.md-contents ul,
.editor-preview.editor-preview-active ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  margin-bottom: 0;
  margin-top: 1em;
}

.editor-preview-active li,
.editor-preview-side li,
.md-contents li {
  margin-bottom: 0.5em;
}

.toc-contents a.is-active-link {
  color: #0284c7;
  font-weight: bold;
}

.toc-link::before {
  background-color: white;
  content: " ";
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px;
}

.is-active-link::before {
  background-color: #0284c7;
}
